body {
  margin: 0;
  
}

main {
  height: 800vh;
  background-color: lightsalmon;
}
.banner{
  background-image: url("imagebanner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 155px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu-list{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.logo{
  height: 40px;
}
.list-item{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}
.link{
  color: aliceblue;
  text-decoration: none;
}
.transparent{
  opacity: .7;
  &:hover{
    opacity: 1;
  }
}